# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# Generated documentation
docs

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/
algorithms-ts.iml

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store